@import "tailwindcss";

@theme {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-primary: #1e40af;
    --color-secondary: #ffffff;
    --color-accent: #2550db;
    --color-hover: #dfe9f7;
    --color-delete: #a31b1b;
    --color-background: #ffffff;
    --color-foreground: #171717;
    --color-darkbg: #0a0a0a;
    --color-darkfg: #ededed;
}

button {
    @apply px-4 py-2 font-semibold rounded-md transition cursor-pointer focus:ring-1 focus:ring-blue-500;
}

input {
    @apply px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
}

label {
    @apply font-medium;
}

td {
    @apply px-4 py-3 text-left;
}

th {
    @apply px-4 py-3 text-left bg-primary text-white font-bold;
}

tr:nth-child(even) {
    @apply bg-[#f2f7fd];
}
